body{

margin:0;

font-family:Arial;

background:#eef6f1;

}

.navbar{

display:flex;

justify-content:space-between;

padding:20px 80px;

background:#0f766e;

color:white;

}

.logo{

font-size:28px;

font-weight:bold;

}

.nav-links a{

color:white;

margin-left:30px;

text-decoration:none;

font-size:18px;

}

.hero{

display:flex;

justify-content:space-around;

align-items:center;

height:80vh;

padding:40px;

}

.hero-left{

width:45%;

}

.hero-left h1{

font-size:60px;

color:#0f766e;

}

.hero-left h2{

font-size:32px;

}

.hero-left p{

font-size:20px;

margin-top:20px;

}

.hero-left button{

margin-top:30px;

padding:15px 40px;

font-size:20px;

background:#16a34a;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.hero-right img{

width:420px;

}

.features{

display:flex;

justify-content:center;

gap:40px;

padding:50px;

}

.card{

width:280px;

padding:30px;

background:white;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

text-align:center;

}

.footer{

background:#0f766e;

color:white;

text-align:center;

padding:30px;

margin-top:50px;

}